


{% extends "layout.html" %}
{% block head %}
  {{ super() }}
		<link rel="stylesheet" href="{{ url_for('static', filename="css/style.css")}}" />
  {% endblock %}

  {% block content %}
		<div class="container">
			<div style="background:#D5F3E5">

				<img class="responsive" src="{{url_for('static',filename='../static/images/ChenYiWuYu_Icon.png')}}" alt="">
				<img class="responsive" src="{{url_for('static',filename='../static/images/ChenYiWuYu_Logo.PNG')}}" alt="">
				<span></span>
			</div>
			<h2>从枝头到舌尖的美味 只是一个快递的距离</h2>
			<h1>
				我是兰兰兰：期待您的加入
				<span
					class="txt-type"
					data-wait="3000"
					data-words='[
					"小水果 大事业 ~ 自吃省钱 分享赚钱",
"大咖指导培训，扶持代理，团队助力开启财富之路！",
"一部手机 & 一个微信 > 启航水果微商代理",
"优秀的奖励制度 我行 = 你也行 欢迎加入我们"
					]'
				></span>
			</h1>
			<p>
			辰颐，寓意是“诚意”，做生意诚心诚意---吃上健康的水果是家家户户的愿望，所以让每位客人吃上健康的水果也是辰颐果园一直以来的坚持和宗旨。
加入辰颐物语，想法很简单，就是想给家人带来绿色健康的水果，辰颐物语是以绿色健康为理念，新鲜美味为宗旨，从枝头到舌尖只有一条信息的距离，保证所有水果均为摘下就发货，不催熟，不打蜡，没有冻库货，不管是老人小孩还是孕妇都吃的安心！
欢迎加入我们，我们不需要你囤货发货。
338元永久代理价，自己便宜吃水果，同时把健康分享给身边的人。代理还享有抽奖福利，每周六周日抽奖苹果iphone11，苹果ipad和3100份水果！更有年终30万现金大抽奖！微信加好友微信加好友微信加好友
如果努力可以成就自己一份小事业，或许给你带来不一样的收入。
			</p>
			<p>
			公司优势：2016年3月成立---生鲜水果行业正规军，至今代理已超过2万名，年销售额20多亿元，创造了微商的神话。遇到过挫折，也积累了经验，对以后发展有借鉴意义。创始人陈女士微商出身，经验丰富，商业眼光敏锐，事业心强，以公司上市为目标。
模式优势：代理只管卖货和服务客户，不用买货和囤货，也不用摘果和发货，不用承担任何的风险和压力。公司提供稳定优质的货源，负责把货直接发到客户手里，轻松出货，无后顾之忧。
售后一流：客户和代理可以随时查看物流信息；所有坏果全部包赔，而且是秒赔，没有任何理由和推辞。只要客户把坏果放在单上拍照发过来，都直接秒赔，不让代理和客户承担任何损失。
代理扶持：公司每个月都最少搞一款活动水果，来扶持我们的代理。价格卖的很便宜，目的就是让代理快速出单，提高人气，不断增加好友的数量，保证以后业绩越做越好。分享水果微商直销，推荐代理可获得裂变式高回报，真正建立长期可持续的管道收益！微信加好友微信加好友微信加好友
学习优势：公司有专门的学习课程，也有专门的学习群。每个星期，都学习培训三次，内容包括产品知识、如何发圈、如何圈粉、如何谈客户、如何提高老客户回购率、如何招代理、如何锻炼良好的心态、如何带团队等等。学习通过网上进行，每次培训都有记录，可随时再学。
团队协作：有自己的聊天群、学习群、素材群，代理之间也可互加好友，相互学习朋友圈。互帮互助，有啥困难， 发到团队群，都会有队友帮忙解决，而不是一个人单打独斗。没有完美的个人，只有完美的团队！
			</p>
      <!-- <h2>Welcome To baby love <a href="{{ url_for('registration') }}">加入我们!</a> -->
      <!--   <a href="{{url_for('article',aid=2)}}" >Anchor Text</a>  -->
      <!--   <a href="{{url_for('articlelist')}}" >listAnchor Text</a>  -->
      <!-- </h2> -->
    <script src="{{ url_for('static', filename="js/main.js")}}"></script>
		</div>

<style>
body {
	background:none;
}
</style>
    {% endblock %}

