<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title></title>

</head>

<body>

	<link rel="stylesheet" href="style.css" media="all">
	<header>
		<nav>
			<img id="logo" src="./rocklogo.svg" width="180" height="90" alt="logoimage">
			<img class="hamburger" src="./iconfinder_menu-alt_134216.svg" alt="hamburger">
		</nav>

		<section class="navlink">
			<a href="#">news home</a>
			<a href="#">about</a>
			<a href="#">shop</a>
			<a href="#">health</a>
			<a href="#">books</a>
		</section>
		<section class="anim_sec">
			<div class="hero">
				<img src="./backgroundimg.jpg" alt="">
				<h1 class="headline">宝妈心得</h1>
			</div>
		</section>
	</header>
	<div class="slider">
	</div>

	<div class="why">
		<h1 class="why_headline">为什么要用RockyDreamtime?</h1>
		<p class="answer_info">我们拥有1000多用户，两手多工厂，4台跑车，500头牛</p>
	</div>
	<div class="panel_postopen">
		<div class="panel_left">
			<h3 class="gallery_headline">dd加入了本期热售</h3>
			<div class="photo_gallery">
				<div class="gallery_img">
					<img src="gallery.jpg" alt="">
					<div class="sub_img">

						<a href="#">
							<img src="hbz-10-experts-dream-vacations-8-gettyimages-569665535.jpg" alt="">
							what are u doing? </a>
						<a href="#">
							<img src="hbz-10-experts-dream-vacations-8-gettyimages-569665535.jpg" alt="">
							what are u doing? </a>
						<a href="#">
							<img src="hbz-10-experts-dream-vacations-8-gettyimages-569665535.jpg" alt="">
							what are u doing? </a>
						<!-- <a href="#"> -->
						<!-- 	<img src="hbz&#45;10&#45;experts&#45;dream&#45;vacations&#45;8&#45;gettyimages&#45;569665535.jpg" alt=""> -->
						<!-- what are u doing? 	</a> -->

					</div>
				</div>
				<div class="gallery_pos_info">
					<h3 class="gallery_img_headline">dd加入了本期热售</h3>
					<p class="gallery_desc">tops news</p>
					<p class="gallery_desc">tops news</p>
					<p class="gallery_desc">tops news</p>
					<p class="gallery_desc">tops news</p>
					<p class="gallery_desc">join the artticle to post your stores.</p>
				</div>
			</div>
			<div class="hot_topics">

	{% if aid %}
	{% for u in article %}
		<h1>{{ u[1] }}</h1>
        {{ u[2]|safe }}
	{% endfor %}
	{% else %}
		<ul>
		{% for li in allarticle  %}
			<li class="list-box">
				<h3 class="texth1">
					{{li[1]}}
				</h3>
				<p class="snaps">
					{{li[4]|safe}}
					<a href="{{url_for('article',aid=li[0])}}"class="detallink">【详情】</a>
				</p>
			</li> 	
		{% endfor %}
		</ul>
	{% endif %}
				<p><button class="more">查看更多</button></p>
			</div>
		</div>
		<div class="panel_right">
			<div>
				<img src="header-3@2x.png" class="right_advert" alt="" />
			</div>
			<h4 class="right_advert_headline">it' good very cool!</h4>
			<p class="right_advert_content"> 1000 id ,300 city buy 1 9 free</p>
			<p class="right_advert_content"> 1000 id ,300 city buy 1 9 free</p>
			<p class="right_advert_content"> 1000 id ,300 city buy 1 9 free</p>
			<p class="right_advert_content"> 1000 id ,300 city buy 1 9 free</p>
			<p class="right_advert_content"> 1000 id ,300 city buy 1 9 free</p>

		</div>
	</div>

	<script src="./TweenMax.min.js">
	</script>

	<script src="./TimelineMax.min.js">
	</script>
	<script src="./app.js"></script>
</body>

</html>
