<!DOCTYPE html>
<html lang="zh">
	<head>
		{% block head %}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>{% block title %}{% endblock %}</title>
		{% endblock %}
	</head>
	<body>
		<div style="height:90%" id="content">{% block content %}{% endblock %}</div>
		<div id="footer">
			{% block footer %} &copy; Copyright 2010 by
			<a href="http://domain.invalid/">you</a>. {% endblock %}
		</div>
	</body>
</html>
